body{
  background: url(w1.jpg) no-repeat center center fixed ;
  background-size: cover;
  opacity: 0.85;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
.aLone{
  background: url(coffee-apple.jpg);
  background-size: cover;
  opacity: 0.85;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}